body{
  margin:0;
  padding:0;
}
.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header div{
  margin-right:2em;
  cursor: pointer;
  font-size:.9em;
}
.login{
  display: flex;
  flex-direction: column;
  /* min-height:100vh; */
  margin-top:30px;
  align-items:center;
}
.register{
  width:500px;
  display:flex;
  flex-direction:column;
  margin:30px auto;
  text-align:center;
  align-items: center;
}

input{
  width:250px;
  padding:.7em;
  margin-top:.8em;
  margin-right:.5em;
  border-radius:10px;
  height:20px;
  outline:none;
  border:solid .5px black;

}

button{
  width:100px;
  padding:.6em .8em;
  margin:10px 0;
  color:white;
  background:#282c34;
  border-radius:10px;
  outline:none;
  margin-right:.6em;
  cursor: pointer;
}
label{
  margin-right:3em;
}
#img{
  /* width:80px; */
  border:none;
}
.logo{
  position: absolute;
  left:4em;
 width:200px;
 display: flex;
 align-items:center;
 
}
.alertMsg{
  height:10px;
  color:red; 
  width:220px;
  text-align:left;
}
